body,
html,
ul,
h1,
h2,
h3,
p{
  margin: 0;
  padding: 0;
}

a,
a:hover{
    text-decoration: none;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #F2F3F8;
}
