.flights-list{
    list-style: none;
    margin-top: 40px;
}

.flights-list li{
    height: 60px;
    padding: 0 10px;
    display: flex;
    margin-bottom: 15px;
}

.flights-list li a{
    display: flex;
    width: 100%;
}

.flights-list li div{
    max-width: 33.33%;
    flex: 1;
    line-height: 60px;
    color: #22313F;
}

.flights-list li:not(:first-child) div:first-child{
    color: #4183D7;
}

.flights-list li:not(:first-child){
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 15px 0px rgba(34, 49, 63, .04);
    transition: all .6s;
}

.flights-list li:not(:first-child):hover{
    transform: scaleX(1.03) scaleY(1.1);
    box-shadow: 0 3px 15px 5px rgba(34, 49, 63, .2);
}

.flight-item img{
    vertical-align: middle;
}

.flight-item img.rotated{
    transform: rotate(180deg);
}

.flights-list .list-header div{
    color: rgba(52, 73, 94, .4);
    font-weight: 600;
}
