.App {
    text-align: center;
    width: 100%;
    color: #22313F;
}

h3{
    font-size: 20px;
    font-weight: 600;
}

a{
    color: #19B5FE;
}

.error-box{
    padding: 25px 15px;
    background-color: #ffd8d8;
    color: #8b1919;
    border-radius: 5px;
    border: 1px solid #8d0b0b;
    margin-top: 40px;
}

.header{
    background-color: #fff;
    margin-bottom: 20px;
    padding: 25px 0;
}

.main-content{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
    margin-bottom: 50px;
}

.flight-details{
    margin-top: 50px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 20px 5px rgba(34, 49, 63, .2);
}

.flight-details .info{
    font-size: 0;
    padding: 25px;
    border-bottom: 1px solid #F2F3F8;
}

.flight-details .info:last-child{
    border-bottom: 0;
}

.flight-details .info span{
    display: inline-block;
    width: 49%;
    font-size: 15px;
    text-align: left;
    vertical-align: middle;
}

.flight-details .info span:first-child{
    font-weight: 600;
    color: #2574A9;
    margin-right: 2%;
}

.company-logo{
    width: 60px;
    vertical-align: middle;
}

/* Media Queries */

@media (max-width: 767px){
    .flight-details .info:not(:first-child) span{
        display: block;
        width: 100%;
    }

    .flight-details .info:first-child{
        text-align: left;
    }

    .flight-details .info:first-child span{
        width: auto;
        margin-bottom: 0;
    }

    .flight-details .info span:first-child{
        margin-bottom: 15px;
    }

    .flight-details .info:first-child span:first-child{
        margin-bottom: 0;
        margin-right: 70px;
    }
}

@media (max-width: 480px){
    .flights-list li div{
        font-size: 14px;
    }

    .flights-list .list-header{
        padding: 0;
    }

    .flights-list .list-header div{
        font-size: 13px;
    }

    h3{
        font-size: 18px;
    }

    .flight-details .info span{
        font-size: 14px;
    }

    .flight-details .info{
        padding: 25px 15px;
    }
}
